body {
    margin: 0;
}

#content {
    display: flex;
    background: url('./bricks.png');
    flex-direction: column;
}

#header {
    background-color: sienna;
    height: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tab-list {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.tab {
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

#information {
    max-width: 800px;
    min-height: 800px;
    flex: 1;
    background-color: sienna;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.customer {
    font-weight: 700;
}

.picture-container {
    display: flex;
    justify-content: end;
    margin-top: -20px;
    margin-right: 20px;
}

.picture-box {
    width: 200px;
    height: 150px;
}

.picture-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid black;
}

.price {
    font-weight: 700;
}

.character-box {
    width: 150px;
    height: 200px;
    margin-left: 80px;
}

.character-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid black;
}

#info-header-container {
    width: 700px;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info-subheader-container {
    width: 350px;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    border: 5px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info-item-container {
    width: 450px;
    height: 300px;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 10px;
}

#info-contact-container {
    width: 450px;
    height: 200px;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 20px;
    display: flex;
}

#info-desc-container {
    width: 450px;
    height: 200px;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 10px;
}

.customer {
    text-align: end;
    margin-right: 40px;
    font-size: 20px;
}

#info-hours-container {
    width: 450px;
    height: 200px;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 10px;
}

#info-location-container {
    width: 450px;
    height: 100px;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 50px;
}

ul {
    list-style-type:none;
    margin-left: 40px;
}

#footer {
    background-color: sienna;
    height: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}